[Unit]
Description=Timer for Import digests to DataBase from BackUp's
Requires=digestsimport.service

[Timer]
OnCalendar=*-*-* 22:10:00
Unit=digestsimport.service

[Install]
WantedBy=multi-user.target
