[Unit]
Description=Import all MotoFan.Ru digests from BackUp's to MySQL DataBase

[Service]
Type=simple
ExecStart=/usr/bin/node /srv/digestbot/DigestBot/Stuff/ImportDigestsToDB/ImportDigestsToDB.js /srv/digestbot/BackUpDigestLog/ -1001045117849

[Install]
WantedBy=multi-user.target
