[Unit]
Description=Node.js DigestBot Server
Wants=network-online.target
After=multi-user.target
#After=network.target remote-fs.target timers.target
#Requires=After=network-online.target

[Service]
ExecStart=/usr/bin/node /srv/digestbot/DigestBot/DigestBot.js
WorkingDirectory=/srv/digestbot/DigestBot/
SyslogIdentifier=DigestBot
# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
#StandardOutput=syslog
#StandardError=syslog
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
